body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282828;
}

h1 {
    color: lightgrey;
    text-align: center;
}

.calculator {
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #282828;
    border: 1px solid rgb(117, 116, 116);
    border-radius: 5px;
}

.screen {
    display: grid;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color: #282828;
    color: #fff;
    border: 1px solid rgb(91, 91, 91);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #404040;
}

button:active {
    transform: scale(0.8);
    transition: all 0.3s ease-out;
}

#display {
    background-color: #282828;
    color: #fff;
    font-size: 24px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: -webkit-fill-available;
}

#history {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    padding: 6px;
    background-color: #282828;
    color: #fff;
    border: 1px solid grey;
    border-radius: 5px;
    display: none;
}

#track-history {
    position: relative;
    left: 11rem;
    margin-bottom: 10px;
}











































































